.container {
    max-width: 400px;
    margin: 20 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90vh;
    width: 100vw; 
    display: grid;
    place-items: center;
  }
  .text{
    color: black;
  }

  .underline{
    color: black;
    text-decoration: underline;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    align-items: center;
  }
  
  .input {
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
  
  .button {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #4C5762;
  }
  
  .button:active {
    background-color: grey;
  }
  