.container {
    max-width: 400px;
    margin: 20 auto;
    padding: 20px;
    background-color: #1C1C1E;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* height: 90vh;
    width: 100vw; 
    display: grid;
    place-items: center; */
    height: 40vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  .text{
    color: white; 
    font-size: 30px;
    position: absolute;
    bottom: 52%;
    left: 46%;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    align-items: center;
  }
  
  .mapContainer{
    height: 100vh;
    width: 100vw;
  }

  .inputUbi {
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: 80px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }

  .inputDest{
    height: 50px;
    font-size: 20px;
    position: absolute;
    bottom: 65px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }

  .inputlinea{
    height: 50px;
    font-size: 20px;
    position: absolute;
    bottom: 170px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
  
  .button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 90%;
    padding: 10px;
    background-color: #048B94;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #4C5762;
  }
  
  .button:active {
    background-color: grey;
  }
  
  .btnUbiActual{
    position: absolute;
    height: 50px;
    font-size: 20px;
    width: 90%;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }