.container {
  max-width: 400px;
  margin: 20 auto;
  padding: 20px;
  background-color: #1C1C1E;
  /* border-radius: 8px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100vw; 
  display: grid;
  place-items: center;
  }
  .text{
    color: white;
    font-size: 120%;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #048B94;
    align-items: center;
  }
  
  .input {
    height: 55px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    color: black;
    background-color: #C7C3C3;
  }

  input.input::placeholder {
    color: rgb(66, 63, 63);
    font-weight: bold;
    opacity: 0.5;
  }
  
  .button {
    font-size: 25px;
    height: 70%;
    width: 80%;
    padding: 10px;
    background-color: #048B94;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0aa7b3;
  }
  
  .button:active {
    background-color: #077b83;
  }
  