.container {
    max-width: 500px;
    margin: 20 auto;
    padding: 20px;
    background-color: #1C1C1E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }

  .containerINFO {
    max-width: 400px;
    width: 100vw;
    margin: 20 auto;
    padding: 10px;
    background-color: #1C1C1E;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* height: 90vh;
    width: 100vw; 
    display: grid;
    place-items: center; */
    height: 45vh;
    width: 100vw;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }


  .text{
    color: white; 
    font-size: 30px;
    position: absolute;
    bottom: 52%;
    left: 46%;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    align-items: center;
  }
  
  .mapContainer{
    max-width: 500px;
    height: 100vh;
    width: 100vw;
    margin-top: -10%;
    transform: translateX(1%);
  }

  .inputUbi {
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: 20%;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }

  .inputDest{
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: 28%;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
  
  .button {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 90%;
    padding: 10px;
    background-color: #048B94;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .buttonConfirmation{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 90%;
    height: 17%;
    /* padding: 10px; */
    background-color: #048B94;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .buttonConfirmation:hover{
    background-color: #0aa7b3;
  }

  .buttonConfirmation:active{
    background-color: #077b83;
  }
  
  .button:hover {
    background-color: #0aa7b3;
  }
  
  .button:active {
    background-color: #077b83;
  }
  
  .btnUbiActual{
    position: absolute;
    height: 50px;
    font-size: 20px;
    width: 90%;
    padding: 10px;
    top: 11.5%;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btnUbiActual:hover{
    background-color: rgb(148, 141, 141);
  }

  .btnUbiActual:active{
    background-color: rgb(207, 194, 194);;
  }
  .Atrasbtn{
    height: 7vh;
    max-width: 70px;
    color: #048B94;
    border-radius: 100%;
  } 

  /* .Atrasbtn:hover{
    background-color: #0aa7b3;
  }

  .Atrasbtn:active{
    background-color: #077b83;
  } */

  .Flecha{
    max-width: 60%;
    max-height: 70%;
    position: relative;
    align-items: center;
    margin-left: 20%;
  }
  
  .textInfo{
    color: white; 
    font-size: 18px;
    text-align: center;
    } 

  .containerINFOFinal{
    height: 100vh;
    width: 100vw;
    background-color: #1C1C1E;
    color: white;
    /* overflow-y: hidden; */
    font-size: 20px;
    align-items: center;
  }

  .hiddenMap {
  display: none;
  }

  .llegadaBus{
    width: 90%;
    margin-top: 20%;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    align-items: center;
    border: 4px solid #ffffff; /* Border style */
    padding: 10px; /* Padding inside the frame */
    display: inline-block; /* Make the frame fit the content */
    border-radius: 5px;
    margin-left: 5%;
  }

  .llegadaFinal{
    width: 90%;
    margin-top: 15%;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    align-items: center;
    border: 4px solid #ffffff; /* Border style */
    padding: 10px; /* Padding inside the frame */
    display: inline-block; /* Make the frame fit the content */
    border-radius: 5px;
    margin-left: 5%;
  }

  /* .flechaFinal{
    height: 5%;
    width: 10%;
    margin-top: 0%;
  } */

  .cancelarBtn{
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 90%;
    padding: 10px;
    background-color: #a3130e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .tresRayitas{
    position: absolute;
    color: white;
    z-index: 1;
    top: 3%;
    margin-left: 15px;
    }

  .hiddenMenu{
    display: none;
  }

  .containerMENU{
    height: 100vh;
    width: 100vw;
    max-width: 500px;
    background-color: #1C1C1E;
    align-items: center;
    /* margin-top: -6.2%; */
    transform: translateX(1%);
  }

  .textMenu{
    color: white; 
    font-size: 20px;
    text-align: center;
    top: 20%;
  }

  .tresRayitasBlancas{
    position: absolute;
    height: 8vh;
    width: 15vw;
    background: transparent;
    top: 3%;
    color: white;
    margin-left: 15px;
  }

  .btnCerrarSesion{
    background-color: transparent;
    color: hsl(0, 3%, 57%);
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    /* left: 10%; */
    top: 12%;
  }

  .logoCerrarSesion{
    position: absolute;
    height: 6%;
    width: 10%;
    transform: scaleX(-1);
    margin-left: 5%;
    margin-top: 21%;
  }

  .userInfo{
    display: grid;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 90%;
    align-items: center;
    color:hsl(0, 3%, 57%);
    margin-left: 60px;
  }

  .btnFrecuentes:active{
    color: rgb(221, 203, 203);
  }

  .logoFavoritos{
    position: absolute;
    height: 11%;
    width: 10%;
    left: 80%;
    top: 9%;
  }

  .PopUp{
    position: absolute;
    /* display: fleX; */
    top: 45%;
    display: flex;
    align-items: center;
  }

  .inputPopUp{
    display: flex;
    justify-content: center;  /* centra horizontalmente los hijos */
    align-items: center;
    width: 70vw;
    height: 50px;
    margin-left: 5%;
    background-color: #1C1C1E; /* color de fondo del input */
    color: white;
    border-radius: 10px;
    padding-left: 15px;
  }

  .inputPopUp::placeholder{
    color: white;
    font-weight: bold;
    padding-left: 5px; 
  }

  .btnPopUp{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 50px;
    background-color: #048B94;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 100%;
    margin-right: 0%;
  }

/* Estilos para el dropdownContent */
.dropdownContent {
  position: absolute;
  background-color: transparent;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 30%; /* Muestra el dropdown debajo del botón */
  left: 50%; /* Centra el dropdown horizontalmente */
  transform: translateX(-50%); /* Centra el dropdown horizontalmente */
  width: 200px; /* Ajusta el ancho según tus necesidades */
}

/* Estilos para los elementos li en la lista */
.dropdownContent ul {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
}

.dropdownContent li {
  padding: 15px 0; /* Ajusta el espaciado vertical entre elementos */
  display: block;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}

.dropdownContent li:hover {
  cursor: pointer;
}

/* Estilos para el botón "Viajes frecuentes" */
.btnFrecuentes {
  background-color: transparent;
  color: hsl(0, 3%, 57%);
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  /* left: 10%; */
  top: 25%;  
}

  

  